run_*/*
run_*
*.DS*
.asetup*
# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files and temporary files
*.log
*.tmp
*~
*.swo
*.swp
*.swp~
*.swo~
*afs*
smodels*
madgraph_tutorial/*
mg5_tutorial/*
MG5_*
MG5_*/*
*.root
plots
*.gz
.ipynb_checkpoints
*.png
*.jpg
*.pdf
*.svg
*.eps
*.txt
*.csv
*.json
*.yaml
*.yml
*.tif
*.tiff
*.gif
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.rar
*.7z
*.bak
*.old
*.orig
*.rej
*.diff
*.patch
*.lock
*.egg-info/
*.egg
*.whl
*.dist-info/
*.manifest
*.spec
*.coverage
*.coveragerc
*.tox/
*.venv/
*.env
*.virtualenv/
*.ipython/
*.jupyter/
*.pytest_cache/
*.mypy_cache/
*.pyo
*.pyd
*.dll
*.so
*.dylib
*.exe
*.o
*.obj
*.a
*.lib
*.dll.a
*.dylib.a
*.exe.a
*.pdb
*.lib.a
*.dSYM/
*.cmake
*.cmake.in
CMakeCache.txt
CMakeFiles/
Makefile
Makefile.in
build/
dist/
*.egg-info/
*.egg-link
*.whl
*.dist-info/
*.pyinstaller/
*.spec
*.ipynb
*.ipynb_checkpoints/
*.rst