run_*/*
run_*
*.DS*
.asetup*
# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files and temporary files
*.log
*.tmp
*~
*.swo
*.swp
*.swp~
*.swo~
*afs*

madgraph_tutorial/*
mg5_tutorial/*
MG5_*
MG5_*/*
*.root
*.gz
.ipynb_checkpoints